@charset "UTF-8";
/* Developer: Juan Ignacio Cieri */
/* Developer URI: http://juancieri.com */

@import 'bootstrap.min.css';
@import 'animate.min.css';

@import 'helpers/_variables';
@import 'helpers/_mixins';
@import 'components/_fonts';

// COMMON
body, html {
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

@import 'layout/_header';
@import 'layout/_footer';

// PAGES
@import 'pages/_home';

// CUSTOM SCROLLBAR
@include scrollbars(.5em, $primary-color);