// HEADER
.header {
    padding: 15px 0;
    
    menu {
        width: 100%;
        display: flex;
        margin: 0;
        
        & > * {
            flex-grow: 1;
        }
        
    }
    
    &-logo {
        background: red;
        max-width: 300px;
        display: flex;
        align-items: center;
    }
    
    nav {
        background: blue;
        flex-basis: 50%;
        
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
        }
        
        li {
            
            & > a {
                margin: 30px 10px;
                display: inline-block;
            }
            
        }
        
    }
    
    &-cta {
        background: green;
        text-align: right;
        max-width: 200px;
        display: flex;
        align-items: center;
    }
    
}