// Footer
tr
td(align='center', valign='top')
  // // Begin Template Footer \\
  table(border='0', cellpadding='10', cellspacing='0', width='600')
    tr
      td(valign='top', style='color:white; font-family:Arial; font-size:12px; line-height:125%; text-align:center; background: black')
        // // Begin Module: Transactional Footer \\
        table(border='0', cellpadding='10', cellspacing='0', width='100%')
          tr
            td(valign='top')
              div
                strong ##APPNAME##
                br
                | ##APPADDRESS##
                br
                | Buenos Aires, Argentina
                br
                br
                strong Contactanos:
                br
                | teléfonos:
                br
                a(style='color: ##APPCOLOR##', href='tel:###APPPHONE#') ##APPPHONE##
                br
                | mail:
                br
                a(style='color:##APPCOLOR##', href='mailto:##APPMAIL##') ##APPMAIL##
        // // End Module: Transactional Footer \\
  // // End Template Footer \\
br
